---
layout: mydefault
title: Project
heading: Inspiration is more than submission.
description: All projects in github (future will include projects from webpages or other githubs).
projects:
  - name: "Timeline Project"
    color: "#8e8e8e"
    features:
      - text: A sample project used for software testing.
        highlight: false
    call_to_action:
      link: https://github.com/TimelineProject
      text: Get
faq:
  - question: Why there are so many open-source code?
    answer: To make it public to all people to learn.
  - question: When will more projects set in here?
    answer: No time sechduled. Contact author for details - <a href="#">1020645987@qq.com</a>.
---
<div id="wrapper">
	<!-- Header -->
	<header id="header">
		<h1>Project</h1>
		<p>All projects are listed as follows.</p>
	</header>
	<div id ="main">
        <div>
            {% for project in page.projects %}
                <ul class="plan">
                    <li style="background: {{ project.color }}">
                        <h3>{{ project.name }}</h3>
                    </li>
                    {% for feature in project.features %}
                        <li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
                    {% endfor %}

                    {% if project.call_to_action %}
                        <li class="pricing-cta"><div class="button"><a style="background: {{ project.color }}" href="{{ project.call_to_action.link }}">{{ project.call_to_action.text }} &rarr;</a></div></li>
                    {% endif %}
                </ul>
            {% endfor %}
        </div>

       <link rel="stylesheet" href="/css/pricing.css"/>

        {% if page.faq %}
            <h2>FAQ</h2>
            <dl class="faq">
                {% for item in page.faq %}
                    <div>
                        <dt>{{ item.question }}</dt>
                        <dd>{{ item.answer }}</dd>
                    </div>
                {% endfor %}
            </dl>
        {% endif %}
	</div>
</div>