
{% assign httphead = include.path | split:':' | first %}
{% if httphead == 'http' or httphead=='https' %}
{% assign fullurl = include.path %}
{% else %}
{% assign fullurl = site.url | append: "/files/" | append: include.path %}
{% endif %}

{% assign check = include.path | split:'.' | last %}
<h3>{{include.title}} - <a href="{{ fullurl }}" style="color: #494e52;">Download</a></h3>
{% if check == "pdf" %}
<iframe src="{{ fullurl }}#view=fitH" width="100%" height="750px" loading="lazy" style="border: none;" allowfullscreen="true" ></iframe>
{% elsif check == "ppt" or check == "pptx" %}
<iframe src='https://view.officeapps.live.com/op/embed.aspx?src={{ fullurl }}' width='100%' height='565px' frameborder='0' loading="lazy"> </iframe> 
{% else %}
<iframe src='https://view.officeapps.live.com/op/embed.aspx?src={{ fullurl }}' width='100%' height='750px' frameborder='0' loading="lazy"> </iframe> 
{% endif %}


