<div id="main">
    <div class="row">

        <section class="col-4 col-12-medium body" id="blog-title" >
            <style>
                #blog-title {
                    padding-top: 10px;
                    background: #1E90FF ;
                    border-radius: 5px;


                }
                #blog-title > h4{
                    color: white;
                    text-align: right;
                    padding-right: 10px;

                }
            </style>
            {% for post in site.posts %}
            <h4 onclick="showBlog('{{post.title}}')" >
                    {{ post.title }}
            </h4>
            {% endfor %}
        </section>

        <section class="col-8 col-12-medium" id="content" >
            <style>
                #content {
                    padding-top: 0px;
                    border: 1px solid #1E90FF ;
                    border-radius: 0px 5px 5px 0px;
                    margin-left: -5px;
                    border-left-width: 0;
                }
            </style>
            {% for post in site.posts %}
            <div class="row">
                <div id="{{post.title}}" style="display:none">

                    <div>
                        <span class="image right col-1-small"><img src="/index-stellar/images/pic05.jpg" alt=""  /></span>
                        <div class="align-left">{{ post.excerpt }}</div>
                    </div>
                    {% include post-title.html post=post %}
                    <a href="{% include relative-src.html src=post.url %}"  class="button primary small">View</a>
                </div>
            </div>
            {% endfor %}
        </section>

    </div>
</div>
<script>
    function showBlog(title) {

        var event = event ? event : window.event;
        var obj = event.srcElement ? event.srcElement : event.target; //Title

        var target=document.getElementById(title); // Content

        if(target.style.display==="none"){
            // 此时，显示该标签，隐藏其它标签。
            var e
            for( e of  obj.parentNode.children ){
              // e.style.display="none"
              e.style.background=""
              e.style.borderRadius=""
                e.style.color="white"
            }
            for(e of target.parentNode.parentNode.children){
                if(e.tagName!="STYLE") {
                    console.log(e.tagName)
                    e.children[0].style.display = "none"
                }
            }
            target.style.display=""
            obj.style.color="black"
            obj.style.background="#ffffff"
            obj.style.borderRadius="5px 0px 0px 5px"

        }else{
            target.style.display="none"
            obj.style.background=""
            obj.style.borderRadius=""
        }
    }
</script>