<style>
    .cover {
        color: rgb(241, 241, 241);
        height: 100%;
        background: url("/images/start-page/start-page-2.jpg") no-repeat center center fixed;
        width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: absolute;
    }

    .cover-black {
        background: #00000090;

        height: 100%;
        width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: absolute;
    }

    /* clock css */

    .seconds {
        width: 40px;
        height: 40px;
        top: 130px;
        left: 170px;
        position: absolute;
        text-align: center;
        line-height: 40px;
        font-size: 18pt;
        border-radius: 50%;
        background-color: rgba(81, 81, 81, 0.2);
    }

    .minutes {
        width: 100px;
        height: 100px;
        top: 100px;
        left: 140px;
        position: absolute;
        text-align: center;
        line-height: 100px;
        font-size: 52pt;
        border-radius: 50%;
        background-color: rgba(126, 126, 126, 0.7);
    }

    .hours {
        width: 300px;
        height: 300px;
        top: 0px;
        left: 40px;
        position: absolute;
        text-align: center;
        line-height: 280px;
        font-size: 133pt;
        border-radius: 50%;
        background-color: rgba(181, 181, 181, 0.4);
    }

    @media screen and (max-width: 992px) {

        .seconds,
        .minutes,
        .hours {
            display: none;
        }
    }

    /* clock css end */
</style>


<script>
    setInterval(function () {
        var seconds = new Date().getSeconds();
        var sdegree = seconds * 6 + 270;
        seconds = ("0" + seconds).slice(-2);
        var secondSel = document.querySelector(".seconds");

        secondSel.style.transform = "rotate(" + sdegree + "deg) translate(160px) rotate(-" + sdegree + "deg)";
        secondSel.innerHTML = seconds;

        var minutes = new Date().getMinutes();
        var mdegree = minutes * 6 + 270;
        var minutesSel = document.querySelector(".minutes");
        minutes = ("0" + minutes).slice(-2);

        minutesSel.style.transform = "rotate(" + mdegree + "deg) translate(181px) rotate(-" + mdegree + "deg)";
        minutesSel.innerHTML = minutes;

        var hours = new Date().getHours();
        var hoursSel = document.querySelector(".hours");

        if (hours > 12) {
            hours = hours - 12;
        }

        hours = ("0" + hours).slice(-2);

        hoursSel.innerHTML = hours;
    }, 1000);
</script>