{% include essay-page/base_path %}

{% if page.author_profile or layout.author_profile or page.sidebar %}
<div class="sidebar">
  <!-- use 'sticky' class to stick -->
  {% if page.author_profile or layout.author_profile %}{% include essay-page/author-profile.html %}
  <div>
    <p>Latest Posts</p>
    {% for post in site.posts limit:3 %}

    <div style="border-top: 1.5pt solid black;padding-top: 15px;">
      <style>
        .self{
          margin: 0pt;
          font-size: 10pt;
        }
      </style>
      {% if post.image %}
      <img src="{{ post.image }}" alt="{{ post.title }}">
      {% endif %}
      <div class="self" href="{{ site.baseurl }}{{ post.url }}"><a class="self" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>     
      <p class="self" >{{ post.date | date: "%b %-d, %Y" }}</p>
      {% if post.summary %}
      <p class="self" >{{ post.summary | markdownify }}</p>
      {% else %}
      <p class="self" >{{ post.excerpt }}</p>
      {% endif %}
      <!-- <a class="self" href="{{ site.baseurl }}{{ post.url }}">Read more</a>  -->
        
    </div>
    {% endfor %}
  </div>
  {% endif %}
  




</div>
{% endif %}