{% assign page=site.data.resumes-info.[include.data] %}



<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>

      <div class="row">
        <div class="col-lg-4 pe-4 d-flex align-items-baseline">
          <img src="{{site.author.avatar}}" class="img-fluid rounded-circle" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
          <h3>Student / Developer</h3>
          <p class="fst-italic">
            Studying in ECNU, expected to be graduated in 2023.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-rounded-right"></i> <strong>{% if page.lang == 'zh' %}出生日期：{% else %} Birthday:{%
                    endif %}</strong> {{ page.birthday }}</li>
                <li><i class="bi bi-rounded-right"></i> <strong>{% if page.lang == 'zh' %}个人主页：{% else %} Website:{%
                    endif %}</strong> {{ page.siteurl }} </li>
                <li><i class="bi bi-rounded-right"></i> <strong>{% if page.lang == 'zh' %}电话：{% else %} Tel:{% endif
                    %}</strong> {{ page.tel }}</li>
                <li><i class="bi bi-rounded-right"></i> <strong>{% if page.lang == 'zh' %}所在城市：{% else %} City:{% endif
                    %}</strong> {{ page.city }}</li>
                <li><i class="bi bi-rounded-right"></i> <strong>{% if page.lang == 'zh' %}微信：{% else %} WeChat:{% endif
                    %}</strong> {{ page.wechat }}</li>
                <li><i class="bi bi-rounded-right"></i> <strong>{% if page.lang == 'zh' %}QQ：{% else %} QQ:{% endif
                    %}</strong> {{ page.qq }}</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-rounded-right"></i> <strong>{% if page.lang == 'zh' %}邮箱：{% else %} E-mail:{% endif
                    %}</strong> {{ page.email }}</li>
                <li><i class="bi bi-rounded-right"></i> <strong>{% if page.lang == 'zh' %}地址：{% else %} Address:{% endif
                    %}</strong> {{ page.address }}</li>
                <li><i class="bi bi-rounded-right"></i> <strong>{% if page.lang == 'zh' %}Google Scholar：{% else %}
                    Google Scholar:{% endif %}</strong> {{ site.author.googlescholar }}</li>
                <li><i class="bi bi-rounded-right"></i> <strong>{% if page.lang == 'zh' %}GitHub：{% else %} GitHub:{%
                    endif %}</strong> https://github.com/{{ site.author.github }}/</li>
                <li><i class="bi bi-rounded-right"></i> <strong>{% if page.lang == 'zh' %}Gitee：{% else %} Gitee:{%
                    endif %}</strong> https://gitee.com/{{ site.author.gitee }}/</li>
              </ul>
            </div>
          </div>

          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;{{site.slogen}}
          </p>
          <div class="pt-4 pt-lg-4 content">
            <h3>Trivial Certification</h3>
            <div class="row">
              {% for el in page.cert %}
              <div class="col-3 align-items-stretch mt-4" data-aos="zoom-in"
                data-aos-delay="{{forloop.index | times: 500}}">
                <div class="icon-box iconbox-green d-flex flex-wrap" style="height:100%">
                  <div class="col">
                    <!-- <div class="mb-5"> -->
                    <!-- <img class="img-fluid" src="{{el.logo}}" style="width: 80%;" /> -->
                    <!-- </div> -->
                    <h4 class="mb-2">{{el.name}}</h4>
                      {% if el.chname %}<p class="d-block mb-2" style="color: #34b7a7;">{{el.chname}}</p>{% endif %}
                      <p class="mb-1">{{el.level}}</p>

                  </div>
                </div>
              </div>
              {%endfor%}
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->


</main><!-- End #main -->