{% assign page=site.data.resumes-info.[include.data] %}



<main id="main">

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Education</h2>
        <p>It's the experience of education that leading me to nowadays.</p>
      </div>

      <div class="row">
        {% for el in page %}
        <div class="col-12 align-items-stretch mt-4 col-lg-6" data-aos="zoom-in" data-aos-delay="{{forloop.index | times: 500}}">
          <div class="icon-box iconbox-green d-flex flex-wrap" style="height:100%">
            <!-- left column -->
            <div class="col-12 col-md-4 mt-3">
              <div class="mb-5">
                <!-- <img class="img-fluid" src="/images/ecnu.webp"/> -->
                <img class="img-fluid" src="{{el.logo}}" style="width: 80%;" />
                <!-- <i class="bx bxl-dribbble"></i> -->
              </div>
              <h4 class="mb-2"><a href="http://www.ecnu.edu.cn/">{{el.school}}</a></h4>
              <p class="mb-3">{{el.department}}</p>
              <i class="d-block mb-5">{{el.location}}</i>
            </div>
            <!-- right column -->
            <div class="col-11 col-md-7 ms-4 resume-item text-start">
              <h6><strong>{{el.time}}</strong> </h6>
              <h5><strong>{{el.major}} </strong></h5>
              {%if el.note %}
              <i>In progress</i>
              {%endif%}
              <div class="dropdown-divider mb-4"></div>
              {% if el.id == 'post' %}
              <p><strong>Supervisor: </strong>{{el.supervisor}}</p>
              <p><strong>GPA:</strong> {{el.gpa}}</p>
              <p><strong>Major Contribution:</strong></p>
              <ul>
                {%for contri in el.contributions %}
                <li>{{ contri }}</li>
                {%endfor%}
              </ul>
              {% elsif el.id=='under' %}
              <p><strong>Major:</strong> {{el.direction}}</p>
              <p><strong>Thesis Advisor:</strong> {{el.advisor}}</p>
              <p><strong>GPA:</strong> {{el.gpa}}</p>
              <p><strong>Specialized PA:</strong> {{el.spa}}</p>
              <p><strong>Major Course:</strong></p>
              <ul>
                {%for contri in el.courses %}
                <li>{{ contri }}</li>
                {%endfor%}
              </ul>
              {%endif%}
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </section><!-- End Services Section -->

</main><!-- End #main -->