{% assign page=site.data.resumes-info.[include.data] %}
  <main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume facts" class="resume facts">
      <div class="container" >

        <div class="section-title">
          <h2>Key Achievements and Social Working</h2>
          <p>During my undergraduate life, achievements and connections with others are my spirit to gain more on my study.</p>
        </div>
        

        
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Scholarships</p>
          </div>
  
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{page.honor | size}}" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Honors</p>
          </div>
  
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Years</p>
          </div>
  
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{page.social|size}}" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>Social Workings</p>
          </div>
  
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Key Achievements</h3>
            {% for h in page.honor %}
            <div class="resume-item " 
            style="margin-bottom: -30px;" data-aos="fade-up" >
              <p><b>{{h.time}}</b></p>
              <h5>{{h.content}}</h5>
              {%if soc.details%}
              <ul>
                {%for c in h.details%}
                <li>{{c}}</li>
                {% endfor %}
              </ul>
              {%endif%}
              </p>
            </div>
            {%endfor%}
            </div>

            
          <div class="col-lg-6">
            <h3 class="resume-title">Social Working</h3>
            {% for soc in page.social %}
            <div class="resume-item " style="margin-bottom: -30px;" data-aos="fade-up" >
              <p><b>{{soc.time}}</b></p>
              <h5>{{soc.content}}</h5>
             {%if soc.details%}
              <p>
              <ul>
                {%for c in soc.details%}
                <li>{{c}}</li>
                {% endfor %}
              </ul>
              </p>
              {%endif%}
            </div>
            {%endfor%}
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->
