

{% assign page=site.data.resumes-info.[include.data] %}

<section id="hero" class="d-flex align-items-center">
  <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
    <h1>{{ page.myname }}</h1>
    <h2>{{ page.position }}</h2>
    <a href="?aboutme" class="btn-about">About Me</a>
  </div>
</section>
<!-- override the default css -->
<style>
  .copyright-main {
    position: fixed;
    bottom: 8px;
    font-size: 12px;
    text-align: center;
    width: 100%;
    /* padding-bottom: 5px; */
  }
</style>




