{% assign page=site.data.resumes-info.[include.data] %}
  <main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" >
        <div class="section-title">
          <h2>Experiences</h2>
          <p>Slide down to view more of my experiences.</p>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Internships</h3>
            {% for intern in page.internship %}
            <div class="resume-item" data-aos="fade-up" >
              <h4>{{intern.title}}</h4>
              <h5>{{intern.time}}</h5>
              {% if intern.position %}
              <p><em>{{intern.position}}</em></p>
              {% endif %}
              {% if intern.company %}
              <p><em>{{intern.company}}</em></p>
              {% endif %}
              <p>
              <ul>
                {%for c in intern.content%}
                <li>{{c}}</li>
                {% endfor %}
              </ul>
              </p>
            </div>
            {%endfor%}

            <h3 class="resume-title">Outcomes</h3>
            {%for out in page.outcomes%}
            <div class="resume-item" data-aos="fade-up">
              <h4>{{out.title}}</h4>
              {%if out.time%}
              <h5>{{out.time}}</h5>
              {%endif%}
              {%if out.place%}
              <p><em>{{out.place}}</em></p>
              {%endif%}
              {%if out.details%}
              <p>{{out.details}}</p>
              {%endif%}
         
                
              
            </div>
            {%endfor%}
            
          </div>
          <script>
            let elss=(document.getElementsByClassName("num_anim"));
    
            console.log(elss.length)
            
            while(elss.length!=0){
              console.log(elss[0])
              elss[0].setAttribute("data-purecounter-start",0) 
              elss[0].setAttribute("data-purecounter-end",elss[0].innerText)
              // elss[0].setAttribute("style","font-size: 20px")
              elss[0].setAttribute("data-purecounter-duration",5)
              elss[0].className="purecounter d-inline"
              elss=(document.getElementsByClassName("num_anim"));
            }
          </script>
          <div class="col-lg-6">
            <h3 class="resume-title">Projects</h3>
            {% for pro in page.projects %}
            <div class="resume-item" data-aos="fade-up" >
              <h4>{{pro.title}}</h4>
              <h5>{{pro.time}}</h5>
              {% if pro.position %}
              <p><em>{{pro.position}}</em></p>
              {% endif %}
              <p>
              <ul>
                {%for c in pro.content%}
                <li>{{c}}</li>
                {% endfor %}
              </ul>
              </p>
            </div>
            {%endfor%}
            
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->
