{% assign page=site.data.resumes-info.[include.data] %}



<main id="main">



  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Skills</h2>
        <p>{{page.intro | default: "All the scores are relative. There's still a lot for me to learn for each one."}}</p>
      </div>
      <div class="resume-item">
        <ul>
          {% for e in page.list %}
          <li>{{e}}</li>
          {%endfor%}
        </ul>
        </p>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          {% for el in page.skills %}
          {% assign mod = forloop.index | modulo: 2 %}
          {% if mod == 1 %}
          <div class="progress">
            <span class="skill">{{ el.name }} <i class="val">{{ el.score }}%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{el.score}}" aria-valuemin="0"
                aria-valuemax="100">
              </div>
            </div>
          </div>
          {%endif%}
          {%endfor%}

        </div>

        <div class="col-lg-6">

          {% for el in page.skills %}
          {% assign mod = forloop.index | modulo: 2 %}
          {% if mod == 0 %}
          <div class="progress">
            <span class="skill">{{ el.name }} <i class="val">{{ el.score }}%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{el.score}}" aria-valuemin="0"
                aria-valuemax="100">
              </div>
            </div>
          </div>
          {%endif%}
          {%endfor%}

        </div>

      </div>

    </div>

  </section><!-- End Skills Section -->

  

</main><!-- End #main -->