---
layout: essay-page/default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include essay-page/page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include essay-page/breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include essay-page/sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>
