---
layout: essay-page/default
---

{% include essay-page/base_path %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
{% include essay-page/page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
{% unless paginator %}
{% include essay-page/breadcrumbs.html %}
{% endunless %}
{% endif %}

<div id="main" role="main">
  {% include essay-page/sidebar.html %}

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}
    <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{%
    endif %}
    {% if page.hightlight %}
    <meta itemprop="description"
      content="{{ page.hightlight | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}
    <meta itemprop="datePublished" content="{{ page.date | date: " %B %d, %Y" }}">{% endif %}
    {% if page.modified %}
    <meta itemprop="dateModified" content="{{ page.modified | date: " %B %d, %Y" }}">{% endif %}

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
      <header>
        {% if page.title %}<h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" |
            remove: "</p>" }}</h1>{% endif %}
        {% if page.read_time %}
        <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include essay-page/read-time.html %}
        </p>
        {% endif %}
        <p class="page__date">
          {% if page.modified %}
          <strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label |
            default: "Modified:" }}</strong> <time datetime="{{ page.modified | date: " %Y-%m-%d" }}">{{ page.modified |
            date: "%B %d, %Y" }}</time>&nbsp;&nbsp;
          {% endif %}
          

          {% if page.date %}
          <strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label |
            default: "Created:" }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | default:
            "1900-01-01" | date: "%B %d, %Y" }}</time>
          {% endif %}
        </p>


      </header>
      {% endunless %}
      <section class="page__content" itemprop="text">
        {{ content }}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label |
            default: "Direct Link" }}</a></div>{% endif %}
      </section>

      {% if page.paperurl %}
      <div>
        <h3>Paper </h3>
        {% include file_viewer.html path=page.paperurl %}
      </div>
      {% endif %}
      {% if page.noteurl %}
      <div>
        <h3>Note </h3>
        {% include file_viewer.html path=page.noteurl %}
      </div>
      {% endif %}
      {% if page.slideurl %}
      <div>
        <h3>Slide </h3>
        {% include file_viewer.html path=page.slideurl %}
      </div>
      {% endif %}
      {% if page.youtubevideoid %}
      <div>
        <h3>Video on Youtube </h3>
        {% include youtube.html video=page.youtubevideoid %}
      </div>
      {% endif %}

      {% if page.more %}
      <div>
        <h3>More Resources </h3>
        <ul>
          {% for item in page.more %}
          <li>{{ item.name }}: {{ item.content }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
        <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include essay-page/page__taxonomy.html %}
      </footer>

      {% if page.share %}{% include essay-page/social-share.html %}{% endif %}

      {% include essay-page/post_pagination.html %}

    </div>

    <!-- {% if site.comments.provider and page.comments %}
      {% include essay-page/comments.html %} 
    {% endif %} -->

    <div id="gitalk-container"></div>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script> -->
    <link rel="stylesheet" href="/assets/css/gitalk.css">
    <script src="/assets/js/gitalk.js"></script>
    <script>

      var gitalk = new Gitalk({
        clientID: '7a4376583fd66885d598',
        clientSecret: '3d59cd5522e9231d5b920c16881ab0202ffa2cea',
        repo: 'ivyee17.github.io',
        owner: 'ivyee17',
        admin: ['ivyee17'],
        id: location.pathname,      
        distractionFreeMode: false,
        proxy:'https://cors-anywhere.herokuapp.com/https://github.com/login/oauth/access_token'
        /* This proxy is for public experimental use. It's better to use my own serve as the proxy.*/
      });

      gitalk.render('gitalk-container');
    </script>

  </article>

  {% comment %}
  <!-- only show related on a post page when not disabled -->{% endcomment %}
  {% if page.id and page.related and site.related_posts.size > 0 %}
  <div class="page__related">
    {% if site.data.ui-text[site.locale].related_label %}
    <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}
    </h4>
    {% endif %}
    <div class="grid__wrapper">
      {% for post in site.related_posts limit:4 %}
      {% include essay-page/archive-single.html type="grid" %}
      {% endfor %}
    </div>
  </div>
  {% endif %}


</div>