<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <title>CPlayer</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="manifest" href="/manifest.json"> -->
    <meta name="theme-color" content="#f8f8f8" />
</head>

<body>
    <div style="text-align:center">
        <div id="app"></div>
    </div>


    <script src="/assets/js/cplayer.js"></script>
    <script>
        let baseurl = '';
        {% if page.baseurl %}
        baseurl = '{{page.baseurl}}';
        {% endif %}
        let lyric = '';
        let lyrics = '';
        let playlist = [];
        let promises = [];
        {% for details in page.playlist %}
        var tmp = new Promise(function (resolve, reject) {
            let _resolve = resolve;
            $.get(baseurl + encodeURI(encodeURI("{{ details.lyric }}")), function (d, status) {
                if (status == "success") {
                    lyric = d;
                    _resolve();
                }
            });
        }).then(function (data) {
            {% if details.lyrictrans %}
            $.get(baseurl + encodeURI(encodeURI("{{ details.lyrictrans }}")), function (d2, status) {
                if (status == "success") {
                    lyrics = d2;
                    Promise.resolve();
                }
            });
            {% else %}
            Promise.resolve();
            {% endif %}
        }).then(function (data) {
            let songname = '{{ details.song }}'.split('/');
            songname = songname[songname.length - 1];

            playlist.push({
                src: baseurl + encodeURI(encodeURI('{{ details.song }}')),
                poster: baseurl+'{{ details.poster }}',
                name: '{{ details.title }}' || songname.split('-')[1],
                artist: '{{ details.artist }}' || songname.split('-')[0],
                lyric: lyric,
                sublyric: lyrics
            });
        });
        promises.push(tmp);
        {% endfor %}
        Promise.all(promises).then((res) => {
            let player = new cplayer({ element: document.getElementById('app'), playlist: playlist });

        }).catch(() => {
            console.log("bbb");
        });
    </script>
</body>

</html>