<!--<!doctype html>-->
<html>
<head>
    <title>Fairy's Blog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/index-stellar/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/index-stellar/assets/css/noscript.css" /></noscript>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>
<body class="is-preload">
{{content}}
</body>
</html>