---
layout: academic-page/compress
---

{% include academic-page/base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include academic-page/head.html %}
    {% include academic-page/head/custom.html %}
    


  </head>

  <body>

    {% include academic-page/browser-upgrade.html %}
    {% include academic-page/masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
     
        {% include academic-page/footer.html %}
      </footer>
    </div>

    {% include academic-page/scripts.html %}

  </body>
</html>
