---
permalink: /links.html
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Wenhan's Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/start-page/assets/img/favicon-link.png" rel="icon"> 
  <link href="/start-page/assets/img/apple-icon-link.png" rel="apple-touch-icon"> 


  <!-- Vendor CSS Files -->
  <link href="/start-page/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/start-page/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/start-page/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/start-page/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/start-page/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/start-page/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/start-page/assets/css/style.css" rel="stylesheet">

</head>

<body>


  <main id="main">

    <!-- ======= About Section ======= -->
    <style>
      section {
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: screen;
      }

      
      section#useful-links {
        background-image: url(./images/links-me-bg.jpg);
      }
    </style>
    

    <section id="useful-links" >
      <div class="container p-4">
        <div class="row text-left">
          <div class="col-lg-7 py-4 pt-lg-0">
            <div data-aos="fade-down" data-aos-duration="2000">
              <h1>Useful Links</h1>
              <p>Some links to backup.</p>
            </div>
            {% for el in site.data.useful-links %}
            <div data-aos="fade-left" style="padding-right: 40px;" data-aos-delay="1000" data-aos-duration="4000">
              <h5>{{ el.type }}</h5>
              <ul class="actions">
                {%for ele in el.links %}
                <li><a href="{{ele.ref}}" class="button">{{ele.name}}</a></li>
                {%endfor%}
              </ul>
            </div>
            {%endfor%}

          </div>
        </div>
      </div>
    </section>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <style>
    footer * {
      color: black;
      font-weight: 400;
      text-decoration-line: none;
    }

    footer strong {
      font-size: 15pt;
      line-height: 2;
    }

    footer p,
    footer a {
      margin: 0;
      text-decoration-line: revert;
      /* padding-left: 0; */
    }

    .footer-block {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizelegibility;
      padding: 7.5rem 0;
      position: relative;
      background-size: cover;
      background-color: #FFF;
    }

    .mxx {
      margin-right: 1.3rem !important;
      margin-left: 0rem !important;
      font-size: 16pt;
      line-height: 1.7;
    }
  </style>

  <footer class="footer-block">
    <div class="container">
      <div class="row align-items-top text-center mb-5">
        <div class="col-12 col-lg-5 ms-auto text-lg-left mt-4 mt-lg-0 text-start">
          <h3><strong>Contact</strong></h3>
          <nav class="nav flex-column-2">
            <p class="col-3 p-0 pb-2">Address</p>
            <a class="col-9 p-0 pb-2" href="https://www.ecnu.edu.cn">East China Normal University</a>
            <p class="col-3 p-0 pb-2">Phone</p>
            <p class="col-9 p-0 pb-2">(+86) 18516523459</p>
            <p class="col-3 p-0 pb-2">Email</p>
            <a class="col-9 p-0 pb-2" href="mailto://whwu17@foxmail.com">whwu17@foxmail.com</a>
          </nav>
        </div>

        <div class="col-12 col-lg-4 ms-auto text-lg-left mt-4 mt-lg-0 text-start">
          <h3><strong>Write to me</strong></h3>
          <p>Welcome to communicate with me! Feel free to contact me with following link. </p>
          <!-- <br> -->
          <ul class="actions" style="margin-top:15px">
            <li><a href="contact" style="text-decoration-line:none">Write to me</a></li>
          </ul>
        </div>

        <div class="col-12 col-lg-2 ms-auto text-lg-left mt-4 mt-lg-0 text-start ">
          <h3><strong>Follow me</strong></h3>
          <p>
            <a href="{{site.author.googlescholar}}" class="mxx"><i class="bx bxs-graduation" aria-hidden="true"></i></a>
            <a href="{{site.author.linkedin}}" class="mxx"><i class="bx bxl-linkedin-square" aria-hidden="true"></i></a>
            <a href="https://github.com/ivyee17" class="mxx"><i class="bx bxl-github" aria-hidden="true"></i></a>
            <a href="https://www.froala.com" class="mxx" aria-disabled="true"><i class="bx bxl-twitter"
                aria-hidden="true"></i></a>
            <a href="https://www.froala.com" class="mxx" aria-disabled="true"><i class="bx bxl-facebook"
                aria-hidden="true"></i></a>
            <a href="https://www.froala.com" class="mxx" aria-disabled="true"><i class="bx bxl-instagram" aria-hidden="true"></i></a>
          </p>
        </div>

      </div>
      <div class="row mt-3">
        <div class="col text-center mx-lg-4">
          &copy; Wu Wenhan. Inspired by <a href="www.froala.com/design-blocks">design-blocks</a> and <a
            href="https://bootstrapmade.com/">BootstrapMade</a>.
          Template based on <a href="https://html5up.net">Stellar</a> and <a
            href="http://startbootstrap.github.io/startbootstrap-clean-blog-jekyll/">jekyll clean theme</a>.
          Animations export
          from <a href="http://michalsnik.github.io/aos/">AOS</a>, based on
          <a href="https://wowjs.uk/">wow.js</a> and <a href="https://animate.style/">animate.js</a> under <a
            href="https://github.com/twbs/bootstrap/blob/v4.0.0/LICENSE">Bootstrap license</a>. Photo by form <a
            href="https://pxhere.com/">PxHere</a>. Free for
          personal and commercial use under the <a href="https://html5up.net/license">CCA 3.0</a>
          and
          <a href="https://spdx.org/licenses/MIT">MIT license</a>.
        </div>
      </div>
    </div>
  </footer>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/start-page/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/start-page/assets/vendor/aos/aos.js"></script>
  <script src="/start-page/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/start-page/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/start-page/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/start-page/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/start-page/assets/vendor/typed.js/typed.min.js"></script>
  <script src="/start-page/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/start-page/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/start-page/assets/js/main.js"></script>

</body>

</html>
<script>
  let test = window.location.href;
  let  base = test.split('?')[0];
    test = test.split('?')[1];
    if(test!='me'){
      document.getElementsByTagName('body')[0].innerHTML='<p>You have no permission to visit this page. Return to the previous one, thanks!</p>'
      setTimeout("window.location.href='./404'",4000)
    }
</script>
