---
layout: essay-page/archive
permalink: /tags/
title: "Posts Classification"
author_profile: true
---

{% include essay-page/base_path %}





<h2 class="archive__subtitle">By Collections</h2>


<style>
  .collections {
    box-sizing: border-box;
    border-radius: 5px;
    border: 1pt solid #cecece;
    text-align: center;
    color: white;
    background-color: #7BC8DA;
    box-shadow: 1px 2px 0px #cecece;
    float: left;
    margin: 5pt;
    padding: 5pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
  }

  .collections-active {
    box-sizing: border-box;
    border-radius: 5px;
    border: 1pt solid #cecece;
    text-align: center;
    color: white;
    background-color: #60ADBF;
    /* box-shadow: 1px 2px 0px #cecece; */
    float: left;
    margin: 5pt;
    padding: 5pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    transform: translate(1px, 2px);
    /* transition: transform 2s ease-in-out 5s; */
  }

  .posts-cat2 {
    display: none;
  }
</style>

<script type="text/javascript">
  function show(button, all_posts_name, all_button_class) {
    allels = document.getElementsByClassName(all_posts_name);
    for (el of allels) {
      el.style.display = "none";
    };
    els = document.getElementsByName(button.id);
    for (el of els) {
      el.style.display = "block";
    };

    allbutton = document.getElementsByClassName(all_button_class);
    for (el of allbutton) {
      el.className = "collections";
    };
    e = document.getElementById(button.id);
    e.className = "collections-active";
  }
</script>

<!-- collections -->

<div style="overflow:hidden;margin:0 -5px;">
{% for collection in site.collections %}
{% unless collection.output == false or collection.label == "posts" %}
{% capture label %}{{ collection.label }}{% endcapture %}
{% if label != written_label %}
<button class="collections" id="{{ label | slugify }}" onclick="show(this,'posts-cat2','collections-active')">{{ label }}</button>
{% capture written_label %}{{ label }}{% endcapture %}
{% endif %}
{% endunless %}
{% endfor %}

</div>
<!-- posts -->



{% for collection in site.collections %}
{% for post in collection.docs %}
{% unless collection.output == false or collection.label == "posts" %}
<div class="posts-cat2" name="{{ collection.label | slugify }}">
{% include essay-page/archive-single.html %}
</div>
{% endunless %}
{% endfor %}
{% endfor %}



<!-- 3 -->
<h2 class="archive__subtitle">By Tags</h2>
{% include essay-page/group-by-array collection=site.collections field="tags" %}
<style>
  button[name='tags'] {
    box-sizing: border-box;
    border-radius: 5px;
    border: 1pt solid #cecece;
    text-align: center;
    color: white;
    background-color: #7BC8DA;
    box-shadow: 1px 2px 0px #cecece;
    float: left;
    margin: 5pt;
    padding: 5pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
  }

  button[name='tags-active'] {
    box-sizing: border-box;
    border-radius: 5px;
    border: 1pt solid #cecece;
    text-align: center;
    color: white;
    background-color: #60ADBF;
    /* box-shadow: 1px 2px 0px #cecece; */
    float: left;
    margin: 5pt;
    padding: 5pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    transform: translate(1px, 2px);
    /* transition: transform 2s ease-in-out 5s; */
  }

  #posts-cat22 {
    display: none;
  }
</style>

<script type="text/javascript">
  function show2(button, all_posts_name, all_button_class) {
    allels = document.getElementsByName(all_posts_name);
    for (el of allels) {
      el.style.display = "none";
    };
    els = document.getElementsByClassName(button.id);
    for (el of els) {
      el.style.display = "block";
    };

    allbutton = document.getElementsByName(all_button_class);
    for (el of allbutton) {
      el.name = "tags";
    };
    e = document.getElementById(button.id);
    e.name = "tags-active";
  }
</script>

<!-- categories: will be removed if all categories already changed to tags -->
<div style="overflow:hidden;margin:0 -5px;">
  {% for tag in group_names %}
  
  <button name="tags" id="{{ tag | join: '' }}" onclick="show2(this,'posts-cat22','tags-active')">{{ tag }}</button>
  {% endfor %} 

</div>


<!-- posts -->

{% for collection in site.collections %}
{% for post in collection.docs %}
{% unless collection.output == false  %}
<div name="posts-cat22" class="{{ post.tags | join:' ' }}">
{% include essay-page/archive-single.html %}
</div> 
{% endunless %}
{% endfor %}
{% endfor %}